.Card {
  display: flex;
  flex: 1;
  flex-direction: column;

  border: 2px solid #000;
  border-radius: 10px;
  background-color: #fff;
  margin: 20px;
  min-width: 300px;
}

.Conteudo {
  color: #000;
  padding: 15px 0px;
  flex: 1;
}

.Footer {
  background-color: #000;
  font-size: 1rem;
  color: #fff;
  padding: 5px 0px;
}